@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="Result" method="post">
    <label>Imię: </label>
    <input name="Imie" id="Imie" type="text" />
    <br />
    <label for="Wiek">Data :</label>
    <input name="Wiek" id="Wiek" type="date" />
    <button type="submit">Sprawdź</button>
</form>